<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  <body>
    <h1>Towers' Event Hosting Web Page</h1>

    <form action="/event_creation" method="post">
      <h2>Create a new Event:</h2>
      <br>
      <label>Event Name:</label>
      <input type="text" name="event_name">
      <br>

      <label>Event Capacity:</label>
      <input type="text" name="event_capacity">
      <br>

      <input type="submit" value="Add Event">
    </form>

    <hr>

    <form action="/event_management" method="post">
      <label>Choose an event: </label>
      <select id = "event_dropdown" onchange="updateSelectedEventData()">
        <option value="" disabled selected style="display:none;">-</option>
        {% for event in events %}
        <option value="{{event.name}}">{{event.name}}</option>
        {% endfor %}
      </select>
      <br>

      <label id="event_capacity">Event Capacity: 0</label>
      <br>
      <label id="event_guests">Suscribed Guests: 0</label>

    </form>

    <hr>

    {% if events|length > 0 %}
      <form id="guestsForm" action="/add_guest" method="post">
        <h3> {{ event_name }} </h3>
        <label>Name:</label>
        <input type="text" name="guestName">
        <br>

        <label>Surname:</label>
        <input type="text" name="guestSurname">
        <br>

        <label>E-Mail:</label>
        <input type="text" name="guestEmail">
        <br>

        <label>Company:</label>
        <input type="text" name="guestCompany">
        <br>

        <input type="submit" value="Join">
      </form>
    {% endif %}

    <hr>


    <script>
        $("#guestsForm").submit(function(event) {
            // Abort the GET or POST sent by the form. We want to do this manually
            event.preventDefault();

            var url = $(this).attr("action");
            var actualEvent = $("select#event_dropdown").val();
            var data = $(this).serializeArray();
            data.push( {name: "actualEvent", value: actualEvent} );


            $.post(url, data)
        });
    </script>

    <script type="text/javascript">
      function setValue() {
        alert("Value of: MONDONGO!!!")
        var e = document.getElementById("event_dropdown");
        var value = e.options[e.selectedIndex].value
        document.getElementById("guest_event_name").value = value
        alert("Value of: " + value)
        return value        
      }


      function updateSelectedEventData() {
        var e = document.getElementById("event_dropdown");
        var value = e.options[e.selectedIndex].value;

        {% for event in events %}
          if (value == "{{event.name}}") {
            document.getElementById("event_capacity").innerHTML
              = 'Event Capacity: ' + "{{event.capacity}}";
            document.getElementById("event_guests").innerHTML
              = 'Suscribed Guests: ' + "{{event.guests}}";
          }
        {% endfor %}
        return;
      }
    </script>

  </body>
</html>
{% endautoescape %}
