<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  <body onload="pageLoaded()">
  <h1>Towers' Event Hosting Web Page</h1>
  <div id="homerWebPage" class="toshow" float="right">
    <img src="http://www.homerswebpage.com/flash/tostadora_100px1.gif"/>
    <img src="http://www.homerswebpage.com/flash/boca_90px1.gif"/>
    <img src="http://www.homerswebpage.com/flash/gusano_60px1.gif"/>
    <img src="https://38.media.tumblr.com/tumblr_m674jlpyPT1ry8fquo1_250.gif"/>
    <img src="http://www.homerswebpage.com/flash/campana_60px1.gif"/>
    <img src="http://www.homerswebpage.com/flash/reloj_60px1.gif"/>
    <img src="http://www.homerswebpage.com/flash/tostadora_100px1.gif"/>
  </div>

  <form id="eventCreationForm" action="/event_creation" method="post">
    <h2>Create a new Event:</h2>
    <br>
    <label>Event Name:</label>
    <input type="text" id ="eventCreationName" name="eventName">
    <br>

    <label>Event Capacity:</label>
    <input type="text" id ="eventCreationCapacity" name="eventCapacity">
    <br>

    <input type="submit" value="Add Event">
  </form>

  <hr>

  <form id="eventManagementForm" action="/event_management" method="post">
    <label>Choose an event: </label>
    <select id="eventDropdown" onchange="updateSelectedEventData()">
    <option value="" disabled selected style="display:none;">-</option>
    {% for event in events %}
    <option value="{{event.name}}">{{event.name}}</option>
    {% endfor %}
    </select>
    <br>

    <label id="eventCapacity">Event Capacity: 0</label>
    <br>
    <label id="eventGuests">Suscribed Guests: 0</label>
  </form>

  <button id ="deleteEvent" onclick="deleteEvent()">
    Delete Actual Event
  </button>

  {% for guests in guests_list %}
  <div id="table{{guests[0]}}">
    <h3> {{guests[0]}} Guests List</h3>
    <table class="cTable">
      <tr>
        <th> Name </th>
        <th> Surname </th>
        <th> E-Mail </th>
        <th> Company </th>
      </tr>
      {% for guest in guests[1] %}
      <tr>
        <td> {{ guest.name }} </td>
        <td> {{ guest.surname }} </td>
        <td> {{ guest.email }} </td>
        <td> {{ guest.company }} </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endfor %}

  <hr>

    <form id="guestsForm" action="/add_guest" method="post">
    <h3 id ="guestsFormTitle"></h3>
    <label>Name:</label>
    <input type="text" id="guestName" name="guestName">
    <br>

    <label>Surname:</label>
    <input type="text" id="guestSurname" name="guestSurname">
    <br>

    <label>E-Mail:</label>
    <input type="text" id="guestEmail" name="guestEmail">
    <br>

    <label>Company:</label>
    <input type="text" id="guestCompany" name="guestCompany">
    <br>

    <input type="submit" value="Join">
    </form>

  <hr>

  <!-- This is a F5 button like. I don't know if this is correct,
  but it works for me at least -->
  <form id="dataUpdater" action="/" method="get">
    <input id="dataUpdaterButton" type="submit" value="Update Event Page">
  </form>

  <!-- JQuery scripts -->
  <script>
    $("#guestCompany").keydown(function(event) {
      if (event.keyCode == 118) {
        $("#homerWebPage").show();
      }
    });

    $("#guestsForm").submit(function(event) {
      event.preventDefault();

      if ($("#guestName").val() == "") {
        alert("Guest Name can't be empty");
        return;
      }
      if ($("#guestSurname").val() == "") {
        alert("Guest Surname can't be empty");
        return;
      }
      if ($("#guestEmail").val() == "") {
        alert("Guest Email can't be empty");
        return;
      }
      if ($("#guestCompany").val() == "") {
        alert("Guest Company can't be empty");
        return;
      }

      var url = $(this).attr("action");
      var actualEvent = $("select#eventDropdown").val();
      var data = $(this).serializeArray();
      data.push( {name: "actualEvent", value: actualEvent} );
      $.post(url, data, 
        function(data) {
          if (data.add == "true") {
            alert("Guest was succesfully joined to the event.");
          }
          else {
            alert("Event is full. Could not add guest.");
          }
          window.location.reload(true);
        }, "json");

      // Erase all the value of the text of guestForm
      /*$("#guestName").val('');
      $("#guestSurname").val('');
      $("#guestEmail").val('');
      $("#guestCompany").val('');*/
    });

    $("#eventCreationForm").submit(function(event) {
      var name = $("#eventCreationName").val();
      if (name == "") {
        alert("Event name must not be empty");
        event.preventDefault();
        return;
      }

      var capacity = $("#eventCreationCapacity").val();
      if (capacity == "") {
        alert("Event capacity must not be empty");
        event.preventDefault();
        return;
      }

      if ($.isNumeric(capacity) != true) {
        alert("Event capacity must be a number");
        event.preventDefault();
        return;
      }
    });
  </script>

  <!-- Plain javascript functions -->
  <script type="text/javascript">
    function pageLoaded() {
      $("#guestsForm").hide();
      $("#deleteEvent").hide();
      $("#homerWebPage").hide();

      {%for event in events %}
        $("#table{{event.name}}").hide();
      {% endfor %}
    }

    function deleteEvent() {
      var e = document.getElementById("eventDropdown");
      var value = e.options[e.selectedIndex].value;

      var actualEvent = {event : value};
      $.post("/event_removal", actualEvent, function(data) {
          if (data.deleted == "true") {
            alert("Event was succesfully deleted.");
          }
          else {
            alert("Event could not be deleted.");
          }
          window.location.reload(true);
        }, "json");
    }

    function updateSelectedEventData() {
      var e = document.getElementById("eventDropdown");
      var value = e.options[e.selectedIndex].value;

      {% for event in events %}
      $("#table{{event.name}}").hide();
      {% endfor %}

      if (value != "-") {
        $("#guestsForm").show();
        document.getElementById("guestsFormTitle").innerHTML = 
          value + " Event Subscription";
        $("#table" + value).show();
        $("#deleteEvent").show();
      }

      {% for event in events %}
      if (value == "{{event.name}}") {
        document.getElementById("eventCapacity").innerHTML
          = 'Event Capacity: ' + "{{event.capacity}}";
        document.getElementById("eventGuests").innerHTML
          = 'Suscribed Guests: ' + "{{event.guests}}";
      }
      {% endfor %}

      return;
    }
  </script>

  </body>
</html>
{% endautoescape %}
